<h1>Welcome to the Scrabble Scorer</h1>
<form action="/score">
  <div class="form-group">
    <label for="score">What word would you like to know the score of?</label>
    <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check it!</button>
</form>
